@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-gray-900 text-white;
}

.code-modal-content .shiki {
  border-radius: 0.5rem;
  font-size: 14px;
  line-height: 1.1;
  margin: 0;
}

.code-modal-content .shiki code {
  counter-reset: line;
}

.code-modal-content pre,
.code-modal-content code {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

.code-modal-content .shiki .line {
  position: relative;
  display: block;
  padding-left: 2.5rem;
}

.code-modal-content .shiki .line:empty::after {
  content: "\00a0";
  visibility: hidden;
}

.code-modal-content .shiki .line::before {
  counter-increment: line;
  content: counter(line);
  position: absolute;
  left: 0;
  top: 0;
  color: rgba(156, 163, 175, 0.8);
  text-align: right;
  width: 1.75rem;
  font-size: 0.75rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

.code-modal-content .shiki .non-focus-line {
  color: #6b7280 !important; /* gray-500 */
}

.code-modal-content .shiki .non-focus-line span {
  color: inherit !important;
}
